html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --main-text-color: #757575;
  --black-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --gray-bgc: #f5f4fa;
  --dark-bgc: #2f303a;
  --link-icon: #afb1b8;
  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--duration) var(--cubic);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.menu {
  display: inline-flex;
}
.menu .link {
  padding: 32px 0;
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.icon-header {
  margin-right: 10px;
  fill: currentColor;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}
button {
  cursor: pointer;
  background-color: var(--gray-bgc);
  color: var(--black-text-color);
}

.accent-button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: none;
}

.header .container {
  display: flex;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header .logo {
  margin-right: 93px;
}

.header-link {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--black-text-color);
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--white-text-color);
}
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: var(--dark-bgc);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-content {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% / 12 * 6.5);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.feature-list {
  display: flex;
}
.feature-title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--black-text-color);
}
.feature-item {
  width: calc(100% / 4 - 90);
}

.feature-item::before {
  content: '';
  display: block;
  height: 120px;
  background-color: var(--gray-bgc);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/features/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/features/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/features/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black-text-color);
}
.about {
  padding-top: 0;
}

.about-list {
  display: flex;
}

.about-item {
  position: relative;
  width: calc(100% / 3 - 60);
}

.about-item:not(:last-child) {
  margin-right: 30px;
}
.description {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  padding: 27 auto;
  bottom: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.17;
  color: var(--white-text-color);
  text-transform: uppercase;
}

.team {
  text-align: center;
  background-color: var(--gray-bgc);
}
.team-list {
  display: flex;
}

.team-list > li {
  width: calc(100% / 4 - 90);
}

.team-list > li:not(:last-child) {
  margin-right: 30px;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--black-text-color);
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-icons {
  display: inline-flex;
  margin-top: 16px;
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-text-color);
  border-radius: 50%;

  transition: background-color var(--duration) var(--cubic);
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--link-icon);
  transition: fill var(--duration) var(--cubic);
}
.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

.social-icons-link:hover .icon,
.social-icons-link:focus .icon {
  fill: var(--white-text-color);
}

.company-icons {
  display: flex;
  width: calc(100% / 6 - 150);
}
.company-icons-item + .company-icons-item {
  margin-left: 30px;
}

.company-icon-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--link-icon);
  border-radius: 4px;
  fill: var(--link-icon);

  transition: fill var(--duration) var(--cubic),
    border var(--duration) var(--cubic);
}

.company-icon-link:hover,
.company-icon-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.team-card > h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.team-card > h3 {
  margin-bottom: 10px;
}

.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.social-item {
  display: inline-block;
}
.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--duration) var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-item .icon {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}
.footer-strong {
  display: inline-flex;
  color: var(--white-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address {
  width: calc(100% / 4 - 15px);
  margin-right: 30px;
}
.footer-social {
  width: calc(100% / 4 - 15px);
  margin-right: 30px;
}

.map {
  color: var(--white-text-color);
}

.form-container {
  width: calc(50% - 15px);
}

.footer-form {
  display: flex;
}
.footer-input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white-text-color);

  transition: border-color var(--duration) var(--cubic),
    outline-color var(--duration) var(--cubic);
}

.footer-input:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
}

.footer-send-icon {
  width: 24px;
  height: 24px;
  fill: var(--white-text-color);
  margin-left: 10px;
}

/* Modal */

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity var(--duration) var(--cubic);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background-color: var(--white-text-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--cubic);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--black-text-color);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
}
.form-field {
  position: relative;
  margin-bottom: 10px;
}
.modal-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 35px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--duration) var(--cubic),
    outline-color var(--duration) var(--cubic);
}
.modal-input:focus {
  outline-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-input:focus + .icon-input {
  fill: var(--accent-color);
}
.icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  transition: fill var(--duration) var(--cubic);
}

.modal-comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-comment:focus {
  outline-color: var(--accent-color);
  border-color: var(--accent-color);
  transition: border-color var(--duration) var(--cubic),
    outline-color var(--duration) var(--cubic);
}
.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}
.modal-checkbox:focus ~ .check-icon {
  outline-color: var(--accent-color);
  border-color: var(--accent-color);
}
.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-text-color);
  border-radius: 4px;
}
.checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.checkbox:checked + .check-icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-origin: border-box;
  border-color: var(--accent-color);
  background-size: contain;
}
.check-icon {
  display: inline-block;
  margin-right: 7px;
}
.checkbox:focus + .check-icon {
  outline-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-text {
  margin-right: 5px;
}
.privacy {
  color: var(--accent-color);
}
.modal-button {
  align-self: center;
  width: 200px;
  height: 50px;
}

/* Portfolio */

.project-name {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text-color);
}

.filter-name {
  color: var(--main-text-color);
}
.filter {
  display: flex;
  margin-bottom: 50px;
  list-style: none;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--black-text-color);

  transition: box-shadow var(--duration) var(--cubic),
    color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.overlay {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  justify-content: center;
  align-items: center;

  color: var(--white-text-color);
  font-size: 18px;
  line-height: 1.55;

  transform: translateY(100%);
  transition: transform var(--duration) var(--cubic);
}

.project-item {
  margin-top: 30px;
  margin-left: 30px;
  transition: box-shadow var(--duration) var(--cubic);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  transform: translateX(0);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
